<div class="panel-bar">
    <ul>
        <li><a href="#"><i class="fa fa-bell"></i> <span>Your notifications</span></a></li>
        <li><a href="~/Account/UserProfile"><i class="fa fa-user-o"></i> <span>Your profile</span></a></li>
        <li><a href="~/Wanted_games/Index"><i class="fa fa-th-list"></i> <span>Requested games</span></a></li>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()
            <li class="right-panel-elements"><i class="fa fa-sign-out"></i><a href="javascript:document.getElementById('logoutForm').submit()"> <span>Log off</span></a></li>
        }
        <li class="right-panel-elements"><a href="~/Wanted_games/Create"><i class="fa fa-plus-square-o"></i> <span>Request game</span></a></li>
    </ul>
</div>
