<div class="panel-bar">
    <ul>
        <li><i class="fa fa-bell"></i>YOUR NOTIFICATIONS</li>
        <li><a href="~/Account/UserProfile"><i class="fa fa-user-o"></i>YOUR PROFILE</a></li>
        <li><a href="~/Account/AdminProfile"><i class="fa fa-id-card"></i>ADMIN PANEL</a></li>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()
            <li class="right-panel-elements"><i class="fa fa-sign-out"></i><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        }
        <li class="right-panel-elements"><a href="~/Wanted_games/Create"><i class="fa fa-plus-square-o"></i>REQUEST GAME</a></li>
    </ul>
</div>
