################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GamerForum/.vs/config
/GamerForum/.vs/GamerForum/v15/sqlite3
/GamerForum/.vs/GamerForum/v15
