@model IEnumerable<GamerForum.Models.Games>
@{
    ViewBag.Title = "Home Page";
    int numberOfgames = Model.Count();
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@
@*This is just a comment*@
<div id="front-page" class="content">
    <!--Circles Start-->
    <div class="front_page_circles">
        <div class="circle-wrapper">
            <div class="circle_info face">
                <!-- front face-->
                <h2>Home</h2>
                <div class="mobile-format">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <h2>Home</h2>
                </div>
            </div>
        </div>
        <!--Test to commit properly-->
        <div class="circle-wrapper">
            <div class="circle_info face">
                <!-- front face-->
                <h2>@numberOfgames</h2>
                <p>Board games in total</p>
                <div class="mobile-format">
                    <i class="fa fa-gamepad" aria-hidden="true"></i>
                    <h2>Board games</h2>
                </div>
            </div>

            <a href="~/Games/Index">
                <div class="back face center">
                    <p>Browse through our games here</p>
                </div>
            </a>
        </div>
        <div class="circle-wrapper">
            <div class="circle_info face">
                <h2>8</h2>
                <p>Recommended games</p>
                <div class="mobile-format">
                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                    <h2>We recommend</h2>
                </div>
            </div>
            <a href="~/Games/Index">
                <div class="back face center">
                    <p>See our recommendations here</p>
                </div>
            </a>
        </div>
        <div class="circle-wrapper">
            <div class="circle_info face">
                <h2>221</h2>
                <p>Reviews of board games</p>
                <div class="mobile-format">
                    <i class="fa fa-comments" aria-hidden="true"></i>
                    <h2>Reviews</h2>
                </div>
            </div>
            <a href="~/Games/Index">
                <div class="back face center">
                    <p>Read the latest reviews</p>

                </div>
            </a>
        </div>
    </div>
    <!--Circles End-->
    <!-- Front page search start -->
    <div id="search-front" class="search">
        @using (Html.BeginForm("Index", "Games"))
        {
            @Html.TextBox("searchString") <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        }
    </div>
    <!-- Front page search end -->
    <!--Random Messages Start-->
    <div id="random-messages">
    </div>
    <!--Random Messages End-->
</div>

        <!-- Logged in panel Start-->
        <!-- Logged in panel End-->

<script>
    (function () {
        var randomTexts = [
            {
                text: "<p>Couldn't find the game you were looking for? Send us a request for a game you would like to see and we'll take a look</p> <p><a href= '/Wanted_games/Create' > Click here</a > to zoom on over to our request page!</p >",
            },
            {
                text: "text2",
            },
            {
                text: "text3",
            },
            {
                text: "text4",
            },
            {
                text: "text5",
            }
        ];
        var randomText = randomTexts[Math.floor(Math.random() * randomTexts.length)];
        document.getElementById("random-messages").innerHTML = '<p>' + randomText.text + '</p>';
    })();
</script>