@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@
@*This is just a comment*@
<div id="front_page_wrapper" class="general-wrapper">
    <div class="front_page_secondary_wrapper">
        <div class="container">
            <!--Circles Start-->
            <div class="row front_page_circles"> <!-- f1_container -->
                <div class="col-md-4"> <!-- #f1_card.shadow -->
                    <div class="circle-wrapper">
                        <div class="circle_info face">
                            <!-- front face-->
                            <h2>54</h2>
                            <p>BOARD GAMES</p>
                        </div>

                        <div class="back face center">
                            <p>NEWEST GAME</p>
                            <img src="~/Content/Image/descent.png" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="circle-wrapper">
                        <div class="circle_info face">
                            <h2>221</h2>
                            <p>REVIEWS</p>
                        </div>

                        <div class="back face center">
                            <p>BEST RATED</p>
                            <img src="~/Content/Image/relic.png" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="circle-wrapper">
                        <div class="circle_info face">
                            <h2>17</h2>
                            <p>NEW REVIEWS THIS WEEK</p>
                        </div>

                        <div class="back face center">
                            <p>NEWLY RATED</p>
                            <img src="~/Content/Image/tickettoride.png" />
                        </div>
                    </div>
                </div>
            </div>
            <!--Circles End-->

            <!--Login Start-->
            <div>
                <form>
                    <div class="row form_font">
                        <div class="form-group col-lg-4 col-lg-offset-1 ">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" placeholder="Please enter your e-mail">
                        </div>
                        <div class="form-group col-lg-4 ">
                            <label for="psw">Password</label>
                            <input type="password" class="form-control" id="psw" placeholder="Please enter your password">
                        </div>
                        <label></label>
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                </form>
            </div>
        
            <div class="login_text_frontpage">
                <p><span>Not a part of our community yet?</span> <br />
                Register now, it's easy and free, and we don't spam you with e-mails! <a href="~/Account/Register">Click here to register</a></p>
            </div>
            <!--Login End-->
        </div>
    </div>
</div>