@model IEnumerable<GamerForum.Models.Games>

@{
    ViewBag.Title = "Home Page";
    int numberOfgames = Model.Count();
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@
<div id="front_page_wrapper" class="general-wrapper">
    <div class="front_page_secondary_wrapper">
        <div id="front-page" class="content">
            <!--Circles Start-->
            <div class="front_page_circles">
                <div class="circle-wrapper">
                    <div class="circle_info face">
                        <!-- front face-->
                        <h2>Home</h2>
                    </div>

                    <div class="back face center">
                        <p>NEWEST GAME</p>
                        <a href="~/Games/details?id=@Model.Count()"><img src="~/Content/Image/descent.png" /></a>
                    </div>
                </div>
                <div class="circle-wrapper">
                    <div class="circle_info face">
                        <!-- front face-->
                        <h2>@numberOfgames</h2>
                        <p>Board games in total</p>
                    </div>

                    <a href="~/Games/Index">
                        <div class="back face center">
                            <p>Browse through our games here</p>
                        </div>
                    </a>
                </div>
                <div class="circle-wrapper">
                    <div class="circle_info face">
                        <h2>8</h2>
                        <p>Recommended games</p>
                    </div>
                    <a href="~/Games/Index">
                        <div class="back face center">
                            <p>See our recommendations here</p>
                        </div>
                    </a>
                </div>
                <div class="circle-wrapper">
                    <div class="circle_info face">
                        <h2>221</h2>
                        <p>Reviews of board games</p>
                    </div>
                    <a href="~/Games/Index">
                        <div class="back face center">
                            <p>Read the latest reviews</p>
                        </div>
                    </a>
                </div>
            </div>
            <!--Circles End-->
            <!-- Search Start -->
            <div id="search-front" class="search">
                @using (Html.BeginForm("Index", "Games"))
                {
                    @Html.TextBox("searchString") <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                }
            </div>
            <!-- Search End-->
            <!--Login Start-->
            <div class="login-form">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group email">
                        <label for="email">E-mail address</label>
                        <input type="email" class="form-control" id="email" name="Email" placeholder="Please enter your e-mail">
                    </div>
                    <div class="form-group password">
                        <label for="Password">Password</label>
                        <input type="password" class="form-control" id="Password" name="Password" placeholder="Please enter your password">
                    </div>
                    <div class="form-group submit">
                        <button type="submit" onclick="" class="btn btn-primary">Log in</button>
                    </div>
                }
            </div>

            <div class="login-text-frontpage">
                <p>Not a part of our community yet?</p>
                <p>Register now, it's easy and free, and we don't spam you with e-mails!</p>
                <p><a href="~/Account/Register">Click here to register</a></p>
            </div>
            <!--Login End-->
        </div>
    </div>
</div>