@model IEnumerable<GamerForum.Models.Games>

@{
    ViewBag.Title = "Home Page";
    int numberOfgames = Model.Count();
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@
@*This is just a comment*@
<div id="front_page_wrapper" class="general-wrapper">
    <div class="front_page_secondary_wrapper">
        <div id="front-page" class="content">
            <!--Circles Start-->
            <div class="front_page_circles">
                <!-- f1_container -->
                <div class="circle-wrapper">
                    <div class="circle_info face">
                        <!-- front face-->
                        <h2>@numberOfgames</h2>
                        <p>BOARD GAMES</p>
                    </div>

                    <div class="back face center">
                        <p>NEWEST GAME</p>
                        <a href="~/Games/details?id=@Model.Count()"><img src="~/Content/Image/descent.png" /></a>
                    </div>
                </div>
                <div class="circle-wrapper">
                    <div class="circle_info face">
                        <h2>221</h2>
                        <p>REVIEWS</p>
                    </div>

                    <div class="back face center">
                        <p>BEST RATED</p>
                        <img src="~/Content/Image/relic.png" />
                    </div>
                </div>
                <div class="circle-wrapper">
                    <div class="circle_info face">
                        <h2>17</h2>
                        <p>NEW REVIEWS THIS WEEK</p>
                    </div>

                    <div class="back face center">
                        <p>NEWLY RATED</p>
                        <img src="~/Content/Image/tickettoride.png" />
                    </div>
                </div>
            </div>
            <!--Circles End-->
            <!--Login Start-->
            <div class="login-form">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group email">
                        <label for="email">E-mail address</label>
                        <input type="email" class="form-control" id="email" name="Email" placeholder="Please enter your e-mail">
                    </div>
                    <div class="form-group password">
                        <label for="Password">Password</label>
                        <input type="password" class="form-control" id="Password" name="Password" placeholder="Please enter your password">
                    </div>
                    <div class="form-group submit">
                        <button type="submit" onclick="" class="btn btn-primary">Log in</button>
                    </div>
                }
            </div>
                
            <div class="login-text-frontpage">
                <p>Not a part of our community yet?</p>
                <p>Register now, it's easy and free, <br />and we don't spam you with e-mails! <a href="~/Account/Register">Click here to register</a></p>
            </div>
            <!--Login End-->
        </div>
    </div>
</div>