@model IEnumerable<GamerForum.Models.Wanted_games>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="requested-games-index" class="content">

    <div class="text-box">
        <h1>Requested games</h1>

        <p>
            <a href="~/Wanted_games/Create"><i class="fa fa-plus" aria-hidden="true"></i> Request new game</a>
        </p>
        <div class="wanted-games">
            <p class="wg-name">Name</p>
            <p class="wg-date">Date</p>
            @foreach (var item in Model)
            {
                <div class="wanted-game">
                    <p class="wg-name">Name</p>
                    <p class="wg-name-detail">@Html.DisplayFor(modelItem => item.Wanted_Game_Name)</p>
                    <p class="wg-date">Date</p>
                    <p class="wg-date-detail">00.00.0000</p>
                    <p class="wg-add">
                        @if (User.IsInRole("Administrator"))
                        {
                            <a href="~/Games/Create/@item.Wanted_Game_Id"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                        }
                    </p>
                    <p class="wg-delete">
                        @if (User.IsInRole("Administrator"))
                        {
                            <a href="~/Wanted_games/Delete/@item.Wanted_Game_Id"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        }
                    </p>
                </div>
            }
        </div>
    </div>
</div>