
@{
    ViewBag.Title = "RequestGameForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content general-wrapper">

    <h1>@ViewBag.Title.</h1>
    <p>FORMULAR FOR REQUESTING A GAME :D</p>
</div>
