
@{
    ViewBag.Title = "AdminProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container general-wrapper">

    <h2>@ViewBag.Title.</h2>

    <p>Use this area to provide additional information.</p>
</div>