/* FONTS IMPLEMENTET */
@font-face {
    font-family: 'aniron';
    src: url('../../fonts/aniron.regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../../fonts/Ubuntu-Regular.ttf') format('truetype');
}

/* GRID SYSTEMET */
.content {
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#front-page.content {
    display: grid;
}

.top-bar {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 1em 0 3em 1em;
}

/* General style */
#body-wrapper {
    background: no-repeat center center fixed;
    background-size: cover;
    padding-bottom: 5em;
}

b {
    font-weight: bold;
}

/* TOP BAR */
.top-bar img {
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
}

.top-bar a {
    height: 100%;
}

.top-bar #general-search {
    grid-row: 1 / 2;
    grid-column: 10 / 13;
    align-self: flex-start;
}

/* NAVIGATION CIRCLES */

#navigation-circles {
    padding: 0;
    position: relative;
    z-index: 1;
    grid-column: 3 / 10;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#navigation-circles .circle-wrapper {
    width: 10em;
    height: 10em;
}

#navigation-circles .circle_info {
    padding-top: 2em;
}

#navigation-circles .circle_info:hover * {
    color: #FCAA67;
    text-shadow: 1px 1px 1px #000;
}

#navigation-circles i {
    font-size: 3em;
    margin-bottom: .2em;
    color: #473335;
}

#navigation-circles .circle-wrapper h2 {
    font-size: 1.1em;
    color: #473335;
}

#navigation-circles .face {
    width: 10em;
    height: 10em;
}

/* GENERAL SEARCH */
#general-search form {
    display: grid;
    grid-template-columns: auto 2.7em;
    align-self: center;
    height: 100%;
    padding: 1em;
    background: #473335;
}

.search * {
    font-size: 1.1em;
}

.search input {
    border-radius: .2em;
    border: 1px;
    padding: .5em;
    color: #191919;
}

#general-search button {
    background: none;
    border: none;
    justify-self: end;
}

.search i {
    color: #548687;
}

/*PANELBAR START */
.panel-bar {
    background-color: #473335;
    height: 4em;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 1.3em .7em;
    z-index: 2;
}

    .panel-bar * {
        color: rgb(240,248,255);
    }

    .panel-bar a, .panel-bar a:hover, .panel-bar a:visited {
        color: rgb(240,248,255);
    }

    .panel-bar ul {
        list-style: none;
    }

        .panel-bar ul li {
            display: inline-block;
            font-size: .7em;
            margin: 0 1.3em;
            font-family: 'Open Sans';
            float: left;
        }

            .panel-bar ul li.right-panel-elements {
                float: right;
            }

    .panel-bar i {
        margin-right: .7em;
        font-size: 1.5em;
    }

    .panel-bar ul li:hover {
        color: #fff;
        cursor: pointer;
    }
/*PANELBAR END*/

/* FRONTPAGE STYLING START */

.front_page_circles {
    padding: 0em 0 3em;
    position: relative;
    z-index: 1;
    grid-column: 2 / 12;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.circle-wrapper {
    width: 17em;
    height: 17em;
}

.front_page_circles .circle-wrapper {
    transform-style: preserve-3d;
    transition: all 1.0s linear;
    justify-self: center;
}

.front_page_circles .circle-wrapper:hover {
    transform: rotateY(180deg);
}

.front_page_circles .circle-wrapper:first-child:hover {
    transform: none;
}

.circle-wrapper div {
    background: linear-gradient(right, rgba(240,248,255,.7), rgba(240,248,255,.7));
    background: -webkit-linear-gradient(right, rgba(240,248,255,.7), rgba(240,248,255,.7));
    background: -o-linear-gradient(right, rgba(240,248,255,.7),rgba(240,248,255,.7));
    background: -moz-linear-gradient(right, rgba(240,248,255,.7), rgba(240,248,255,.7));
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
}

.circle-wrapper a {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#front-page .circle-wrapper div * {
    color: #473335;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

    .face.back {
        display: block;
        transform: rotateY(180deg);
        padding: 5.3em 2em;
        font-size: 1.3em;
    }

        .face.back img {
            max-height: 11em;
            max-width: 11em;
            margin-top: 1em;
        }

.circle_info {
    padding-top: 6em;
}

    .circle_info > h2 {
        font-size: 4em;
    }

    .circle_info h2, .circle_info p, .back.face h2, .back.face p {
        font-family: Ubuntu;
        text-transform: uppercase;
    }

/* search field - frontpage */
#search-front {
    grid-column: 2 / 12;
    justify-self: center;
    position: relative;
    background: none;
}

    #search-front input {
        width: 30em;
    }

    #search-front.search button {
        border: none;
        background: none;
        position: absolute;
        top: .8em;
        right: .5em;
        cursor: pointer;
    }

    #search-front i {
        color: #548687;
    }

    #search-front .search {
        padding: .5em;
        position: relative;
    }

/* login form */
.login-form {
    grid-column: 4 / 10;
    grid-row: 4 / 5;
}

    .login-form form {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        grid-template-rows: 1fr;
        padding-top: 3em;
    }

    .login-form * {
        font-size: 1.1em;
    }

    .login-form label {
        display: block;
        font-size: .9em;
        padding-bottom: .3em;
        padding-left: .2em;
        color: rgb(240,248,255);
        font-weight: bold;
    }

#front-page .login-form input {
    width: 80%;
    padding: .5em;
    border: 1px;
    border-radius: .2em;
    color: #191919;
}

.login-form button {
    background: #548687;
    border: 1px solid #548687;
    border-radius: .2em;
    padding: .5em;
    width: 100%;
    cursor: pointer;
    color: rgb(240,248,255);
}

.form-group.email {
    grid-column: 1 / 2;
}

.form-group.password {
    grid-column: 2 / 3;
}

.form-group.submit {
    grid-column: 3 / 4;
    align-self: end;
}

/* register tekst */
.login-text-frontpage {
    grid-column: 4 / 10;
    grid-row: 5 / 6;
    justify-self: center;
    background: rgba(71,51,53,.9);
    width: 17em;
    height: 17em;
    border-radius: 50%;
    padding: 3.5em 1em 1em;
    margin-top: 3em;
}

    .login-text-frontpage p {
        text-align: center;
        font-size: 1.3em;
        align-self: center;
        padding-bottom: .5em;
        color: rgb(240,248,255);
    }

        .login-text-frontpage p:first-child {
            font-size: 1.5em;
        }

#front-page .login-text-frontpage p > a {
    color: #FCAA67;
    padding-bottom: .5em;
}

/* random messages */
#random-messages {
    grid-column: 4 / 10;
    justify-self: center;
    text-align: center;
    padding-top: 5em;
}

    #random-messages > * {
        font-size: 1.3em;
        color: rgb(240,248,255);
    }

/* FRONTPAGE STYLING END */


/* GAMES STYLING START */
.content h1 {
    grid-column: 2 / 11;
    font-family: Ubuntu;
    font-size: 2.7em;
    padding: 1em 0 .5em;
    grid-row: 1 / 2;
}

.create-new {
    grid-column: 11 / 12;
    justify-self: end;
    grid-row: 1 / 2;
    align-self: flex-end;
    padding-bottom: .5em;
}


/* game genre */
.genre {
    grid-column: 2 / 12;
}

/* game lists */
.game-list {
    grid-column: 2 / 12;
    display: grid;
    grid-template-columns: 1 / 12;
    grid-gap: 5em;
}

.game {
    justify-self: center;
}

    .game:nth-child(3n+1) {
        grid-column: 1 / 5;
    }

    .game:nth-child(3n+2) {
        grid-column: 5 / 9;
    }

    .game:nth-child(3n+3) {
        grid-column: 9 / 13;
    }

    .game figure {
        width: 25em;
        height: 25em;
        background: #ccdadb;
        position: relative;
        display: grid;
        overflow: hidden;
    }

        .game figure img {
            max-width: 20em;
            max-height: 15em;
            display: block;
            justify-self: center;
            align-self: center;
        }

    .game figcaption {
        position: absolute;
        bottom: 0;
        height: 5em;
        background: #548687;
        width: 100%;
        padding: .5em;
        display: none;
    }

    .game figure:hover figcaption {
        display: block;
    }

    .game figcaption h2 {
        font-size: 1.6em;
        font-weight: bold;
        padding-bottom: .5em;
    }

    .game figcaption img {
        display: inline-block;
        height: .9em;
    }

    .game figcaption i {
        font-size: 1em;
        color: #ffffc7;
    }

/* SPECIFIC GAME */

.game-images {
    grid-column: 2 / 6;
    justify-self: center;
}

.game-images figure {
    height: 5em;
    width: 5em;
    border-radius: 50%;
    display: inline-block;
    margin: 0 1em 1em 0;
}

.game-images figure:first-child {
    width: 30em;
    height: 30em;
    border-radius: 0;
    background: lightblue;
    display: grid;
    justify-items: center;
    align-items: center;
}

.game-images figure img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.game-images figure:first-child img {
    width: 25em;
    height: 25em;
    border-radius: 0;
}

/* REQUEST A GAME */
.text-box {
    grid-column: 3 / 7;
    background: #FCAA67;
    padding: 2em;
    margin-top: 1em;
    border-radius: .3em;
}

.text-box * {
    color: #473335;
    text-align: center;
}

.text-box h1 {
     padding: 0 0 .5em;
 }

.text-box p {
    margin-bottom: 1em;
    line-height: 1.2em;
}

.text-box a, .text-box a:visited, .text-box a:hover, .text-box a:active {
    color: #548687;
    font-weight: bold;
}

.text-box form {
    margin: auto;
}

.text-box form input {
    display: block;
    margin: auto;
    padding: .7em .5em;
    border-radius: .3em;
    border: 1px;
    width: 25em;
    background: #fff;
}

.text-box form label {
    margin: auto;
    display: block;
    margin: 1em 0em .5em;
    font-weight: bold;
}

.text-box form label span {
    font-weight: normal;
    font-style: italic;
    font-size: .8em;
}

.text-box button {
    display: block;
    margin: auto;
    background: #548687;
    color: rgb(240,248,255);
    border-radius: .2em;
    border: 1px solid #548687;
    padding: .5em;
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-size: 1.2em;
    margin-top: 1em;
    cursor: pointer;
}

.text-box h3 {
    font-size: 1.4em;
    font-weight: bold;
    margin: 2em 0 .5em;
}

.text-box h4 {
    font-size: 1.2em;
    font-weight: bold;
}

/* REQUESTED GAMES */
#requested-games-index .text-box {
    grid-column: 3 / 10;
}

#requested-games-index .text-box * {
    text-align: left;
}

#requested-games-index table {
    width: 100%;
}

#requested-games-index tr{
    border: 1px solid #473335;
}

#requested-games-index td {
    padding: 1em;
}

#requested-games-index tr:nth-child(even) {
    background: rgba(240,248,255,.7)
}

/* USER PROFILE */
#user-profile .text-box {
    grid-column: 3 / 10;
    display: grid;
    grid-template-columns: 20em auto;
    grid-gap: 0 1em;
}

#user-profile .text-box * {
    text-align: left;
}

.edit-profile {
    float: right;
}

.user-image {
    display: grid;
    justify-items: center;
    align-content: start;
}

.user-image img {
    height: 15em;
    width: 15em;
    border-radius: 50%;
    margin-bottom: 1em;
}

.user-image i {
    font-size: 2.5em;
    cursor: pointer;
}

.user-image i:hover {
    color: #548687;
}

#user-profile .user-image p {
    text-align: center;
    font-size: 1.3em;
}

.user-reviewed-game {
    display: grid;
    grid-template-columns: 10em auto 7em;
    grid-template-rows: repeat(3, auto);
    grid-gap: 0 1em;
    align-content: start;
    background: rgba(255,255,255,.3);
    padding: 1em;
    margin-bottom: 2em;
    height: 9em;
}

.user-reviewed-game:last-child {
    margin-bottom: 0;
}

.user-reviewed-game p {
    margin-bottom: 0;
}

.user-reviewed-game a {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    width: 10em;
}

.user-reviewed-game i {
    color: #ffffc7;
    padding-right: .5em;
}

.user-reviewed-game img {
    width: 100%;
    border-radius: .3em;
    max-height: 7em;
}

.user-reviewed-game .game-name {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.user-reviewed-game .game-review {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.user-reviewed-game .your-review {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.user-reviewed-game .see-review {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.user-reviewed-game .edit-review {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}


.back-to-list {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding: 1em;
}

.back-to-list a, .back-to-list a:visited, .back-to-list a:hover, .back-to-list a:active {
    color: #FCAA67;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.back-to-list i {
    color: #FCAA67;
}

.back-to-list a:hover, .back-to-list a:hover i {
    color: #FFFFC7;
}