/* FONTS IMPLEMENTET */
@font-face {
    font-family: 'aniron';
    src: url('../../fonts/aniron.regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../../fonts/Ubuntu-Regular.ttf') format('truetype');
}

/* GRID SYSTEMET */
.container {
    display: grid;
    grid-template-rows: 5em auto;
    grid-template-areas: "nav" "content";
}

#navbar {
    display: grid;
    grid-template-columns: 12em repeat(5, 15em) auto;
    grid-area: nav;
    background: #222;
    align-items: center;
}

    #navbar img {
        height: 5em;
    }

.content {
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1em;
}

#front_page.content {
    display: grid;
    grid-template-rows: 1fr 20em 1fr 1fr;
}

/* NAVBAR START */
.nav-point:first-child {
    text-align: left;
}

    .nav-point:first-child:hover {
        border: none;
        padding: 0;
    }

.nav-point {
    text-align: center;
}

    .nav-point a, .nav-point a:visited, .nav-point a:hover, .nav-point a:active {
        color: #fefefe;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
    }

    .nav-point:hover {
        border-top: 1px solid #fefefe;
        border-bottom: 1px solid #fefefe;
        padding: .5em 0;
    }
/* NAVBAR END */

/*PANELBAR START */
.panel-bar {
    background-color: powderblue;
    height: 4em;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 1.3em .7em;
}

    .panel-bar ul {
        list-style: none;
    }

        .panel-bar ul li {
            display: inline-block;
            font-size: .7em;
            margin: 0 1.3em;
            font-family: aniron;
            float: left;
        }

            .panel-bar ul li.right-panel-elements {
                float: right;
            }


    .panel-bar i {
        margin-right: .7em;
        font-size: 1.5em;
    }

    .panel-bar ul li:hover {
        color: #fff;
        cursor: pointer;
    }
/*PANELBAR END*/

/* FRONTPAGE STYLING START */
#front_page_wrapper {
    background-image: url("../Image/background.jpeg");
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

#front_page_wrapper * {
    color: aliceblue;
}

.front_page_secondary_wrapper {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(right, rgba(0,0,0,.5), rgba(0,0,0,.5));
    background: -webkit-linear-gradient(right, rgba(0,0,0,.5), rgba(0,0,0,.5));
    background: -o-linear-gradient(right, rgba(0,0,0,.5), rgba(0,0,0,.5));
    background: -moz-linear-gradient(right, rgba(0,0,0,.5), rgba(0,0,0,.5));
}

.front_page_circles {
    padding-top: 10em;
    position: relative;
    z-index: 1;
    grid-column: 1 / 13;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 20em 1fr 20em 1fr 20em 3fr;
}

.circle-wrapper:nth-child(1) {
    grid-column: 2 / 3;
}

.circle-wrapper:nth-child(2) {
    grid-column: 4 / 5;
}

.circle-wrapper:nth-child(3) {
    grid-column: 6 / 7;
}

.front_page_circles .circle-wrapper {
    /*width: 100%;
    height: 100%;*/
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}

    .front_page_circles .circle-wrapper:hover {
        transform: rotateY(180deg);
    }

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

    .face.back {
        display: block;
        transform: rotateY(180deg);
        box-sizing: border-box;
        padding-top: 2em;
        text-align: center;
        background: linear-gradient(right, rgba(240,248,255,.3), rgba(240,248,255,.3));
        background: -webkit-linear-gradient(right, rgba(240,248,255,.3), rgba(240,248,255,.3));
        background: -o-linear-gradient(right, rgba(240,248,255,.3),rgba(240,248,255,.3));
        background: -moz-linear-gradient(right, rgba(240,248,255,.3), rgba(240,248,255,.3));
        width: 20em;
        height: 20em;
        border-radius: 50%;
    }

        .face.back img {
            max-height: 13em;
            max-width: 13em;
            margin-top: 1em;
        }

.circle-wrapper {
    width: 20em;
    height: 20em;
}

.circle_info {
    background: linear-gradient(right, rgba(240,248,255,.3), rgba(240,248,255,.3));
    background: -webkit-linear-gradient(right, rgba(240,248,255,.3), rgba(240,248,255,.3));
    background: -o-linear-gradient(right, rgba(240,248,255,.3),rgba(240,248,255,.3));
    background: -moz-linear-gradient(right, rgba(240,248,255,.3), rgba(240,248,255,.3));
    width: 20em;
    height: 20em;
    border-radius: 50%;
    text-align: center;
    padding-top: 7em;
    box-sizing: border-box;
}

    .circle_info > h2 {
        font-size: 4em;
    }

    .circle_info h2, .circle_info p, .back.face h2, .back.face p {
        color: #dedede;
        font-family: Ubuntu;
    }

/* login form */
.login-form {
    grid-column: 4 / 10;
    grid-row: 4 / 5;
}

    .login-form form {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        grid-template-rows: 1fr;
        padding-top: 3em;
    }

    .login-form * {
        font-size: 1.1em;
    }

    .login-form label {
        display: block;
        font-size: 1.3em;
        padding-bottom: .3em;
        padding-left: .2em;
    }

#front_page_wrapper .login-form input {
    width: 80%;
    padding: .3em;
    border: 1px solid powderblue;
    border-radius: .2em;
    color: #191919;
}

.login-form button {
    background: #28c18d;
    border: 1px solid #28c18d;
    border-radius: .2em;
    padding: .3em;
    width: 100%;
}

.form-group.email {
    grid-column: 1 / 2;
}

.form-group.password {
    grid-column: 2 / 3;
}

.form-group.submit {
    grid-column: 3 / 4;
    align-self: end;
}

/* random text */
.login-text-frontpage {
    grid-column: 4 / 10;
    grid-row: 5 / 6;
    padding-top: 5em;
}

    .login-text-frontpage p {
        text-align: center;
        font-size: 1.3em;
    }

        .login-text-frontpage p:first-child {
            font-size: 1.5em;
            padding-bottom: .5em;
        }

#front_page_wrapper .login-text-frontpage p > a {
    color: aquamarine;
}

/* FRONTPAGE STYLING END */


/* GAMES STYLING START */
.content h2 {
    grid-column: 3 / 10;
}

.content .create-new {
    grid-column: 10 / 11;
    grid-row: 1 / 1;
}

.game-list {
    grid-column: 3 / 11;
    display: grid;
    grid-template-columns: auto 25em 25em auto;
    grid-gap: 3em;
}

.game-short {
    background: #ed4e6e;
    width: 100%;
}

    .game-short:nth-child(odd) {
        grid-column: 2 / 3;
    }

    .game-short:nth-child(even) {
        grid-column: 3 / 4;
    }

    .game-short figure {
        position: relative;
    }

        .game-short figure img {
            position: relative;
            display: block;
            max-width: 100%;
            margin: auto;
        }

    .game-short figcaption {
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
        background: #2c3f52;
        color: #ed4e6e;
    }

        .game-short figcaption h3 {
            margin: 0;
            padding: 0;
            color: #fff;
        }

        .game-short figcaption span:before {
            content: 'by ';
        }

        .game-short figcaption a {
            text-align: center;
            padding: 5px 10px;
            border-radius: 2px;
            display: inline-block;
            background: #ed4e6e;
            color: #fff;
        }

.game-list .game-short {
    -webkit-perspective: 1700px;
    -moz-perspective: 1700px;
    perspective: 1700px;
    -webkit-perspective-origin: 0 50%;
    -moz-perspective-origin: 0 50%;
    perspective-origin: 0 50%;
}

.game-list figure {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

    .game-list figure > div {
        overflow: hidden;
    }

    .game-list figure img {
        -webkit-transition: -webkit-transform 0.4s;
        -moz-transition: -moz-transform 0.4s;
        transition: transform 0.4s;
    }

    .no-touch .game-list figure:hover img,
    .game-list figure.cs-hover img {
        -webkit-transform: translateX(25%);
        -moz-transform: translateX(25%);
        -ms-transform: translateX(25%);
        transform: translateX(25%);
    }

.game-list figcaption {
    height: 100%;
    width: 50%;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .game-list figure:hover figcaption,
.game-list figure.cs-hover figcaption {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}

.game-list figcaption a {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
