/* FONTS IMPLEMENTET */
@font-face {
    font-family: 'aniron';
    src: url('../../fonts/aniron.regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../../fonts/Ubuntu-Regular.ttf') format('truetype');
}

/* GRID SYSTEMET */
.content {
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#front-page.content {
    display: grid;
}

.top-bar {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 1em 0 3em;
}

/* General style */
#body-wrapper {
    background: no-repeat center center fixed;
    background-size: cover;
    padding-bottom: 5em;
}

b {
    font-weight: bold;
}

/* TOP BAR */
.top-bar img {
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
}

.top-bar a {
    height: 100%;
}

.top-bar > a:first-child {
    padding-left: 1em;
}

.top-bar #general-search {
    grid-row: 1 / 2;
    grid-column: 10 / 13;
    align-self: flex-start;
}

/* NAVIGATION CIRCLES */

#navigation-circles {
    padding: 0;
    position: relative;
    z-index: 1;
    grid-column: 3 / 10;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#navigation-circles .circle-wrapper {
    width: auto;
    height: auto;
}

#navigation-circles .circle_info {
    padding-top: 2em;
}

#navigation-circles .circle_info:hover * {
    color: #FCAA67;
    text-shadow: 1px 1px 1px #000;
}

#navigation-circles i {
    font-size: 2.7em;
    margin-bottom: .2em;
    color: #473335;
}

#navigation-circles .circle-wrapper h2 {
    font-size: 1em;
    color: #473335;
}

#navigation-circles .face {
    width: 8.6em;
    height: 8.6em;
}

/* GENERAL SEARCH */
#general-search form {
    display: grid;
    grid-template-columns: auto 2.7em;
    align-self: center;
    height: 100%;
    padding: 1em;
    background: #473335;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
}

.search * {
    font-size: 1.1em;
}

.search input {
    border-radius: .2em;
    border: 1px;
    padding: .5em;
    color: #191919;
}

#general-search button {
    background: none;
    border: none;
    justify-self: end;
}

.search i {
    color: #548687;
}

/*PANELBAR START */
.panel-bar {
    background-color: #473335;
    height: 4em;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 1.3em .7em;
    z-index: 2;
}

.panel-bar * {
    color: rgb(240,248,255);
}

.panel-bar a, .panel-bar a:hover, .panel-bar a:visited {
    color: rgb(240,248,255);
    text-decoration: none;
    text-transform: uppercase;
}

.panel-bar ul {
    list-style: none;
}

.panel-bar ul li {
    display: inline-block;
    font-size: .7em;
    margin: 0 1.3em;
    font-family: 'Open Sans';
    float: left;
}

.panel-bar ul li.right-panel-elements {
    float: right;
}

.panel-bar i {
    margin-right: .7em;
    font-size: 1.5em;
}

.panel-bar ul li:hover {
    color: #fff;
    cursor: pointer;
}
/*PANELBAR END*/

/* FRONTPAGE STYLING START */

.front_page_circles {
    padding: 0em 0 3em;
    position: relative;
    z-index: 1;
    grid-column: 2 / 12;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 10vh;
}

.circle-wrapper {
    width: 17em;
    height: 17em;
}

.front_page_circles .circle-wrapper {
    transform-style: preserve-3d;
    transition: all 1.0s linear;
    justify-self: center;
}

.front_page_circles .circle-wrapper:hover {
    transform: rotateY(180deg);
}

.front_page_circles .circle-wrapper:first-child:hover {
    transform: none;
}

.circle-wrapper div {
    background: linear-gradient(right, rgba(240,248,255,.7), rgba(240,248,255,.7));
    background: -webkit-linear-gradient(right, rgba(240,248,255,.7), rgba(240,248,255,.7));
    background: -o-linear-gradient(right, rgba(240,248,255,.7),rgba(240,248,255,.7));
    background: -moz-linear-gradient(right, rgba(240,248,255,.7), rgba(240,248,255,.7));
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
}

.circle-wrapper a {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#front-page .circle-wrapper div * {
    color: #473335;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.face.back {
    display: block;
    transform: rotateY(180deg);
    padding: 5.3em 2em;
    font-size: 1.3em;
}

.face.back img {
    max-height: 11em;
    max-width: 11em;
    margin-top: 1em;
}

.circle_info {
    padding-top: 6em;
}

.circle_info > h2 {
    font-size: 4em;
}

.circle_info h2, .circle_info p, .back.face h2, .back.face p {
    font-family: Ubuntu;
    text-transform: uppercase;
}

.mobile-format {
    display: none;
}

/* search field - frontpage */
#search-front {
    grid-column: 2 / 12;
    justify-self: center;
    position: relative;
    background: none;
}

#search-front input {
    width: 30em;
}

#search-front.search button {
    border: none;
    background: none;
    position: absolute;
    top: .4em;
    right: .5em;
    cursor: pointer;
}

#search-front i {
    color: #548687;
}

#search-front .search {
    padding: .5em;
    position: relative;
}

/* login form */
.login-form {
    grid-column: 4 / 10;
    grid-row: 4 / 5;
}

.login-form form {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 1fr;
    padding-top: 3em;
}

.login-form * {
    font-size: 1.1em;
}

.login-form label {
    display: block;
    font-size: .9em;
    padding-bottom: .3em;
    padding-left: .2em;
    color: rgb(240,248,255);
    font-weight: bold;
}

#front-page .login-form input {
    width: 80%;
    padding: .5em;
    border: 1px;
    border-radius: .2em;
    color: #191919;
}

.login-form button {
    background: #548687;
    border: 1px solid #548687;
    border-radius: .2em;
    padding: .5em;
    width: 100%;
    cursor: pointer;
    color: rgb(240,248,255);
}

.form-group.email {
    grid-column: 1 / 2;
}

.form-group.password {
    grid-column: 2 / 3;
}

.form-group.submit {
    grid-column: 3 / 4;
    align-self: end;
}

/* register tekst */
.login-text-frontpage {
    grid-column: 4 / 10;
    grid-row: 5 / 6;
    justify-self: center;
    background: rgba(71,51,53,.9);
    width: 17em;
    height: 17em;
    border-radius: 50%;
    padding: 3.5em 1em 1em;
    margin-top: 3em;
}

.login-text-frontpage p {
    text-align: center;
    font-size: 1.3em;
    align-self: center;
    padding-bottom: .5em;
    color: rgb(240,248,255);
}

.login-text-frontpage p:first-child {
    font-size: 1.5em;
}

#front-page .login-text-frontpage p > a {
    color: #FCAA67;
    padding-bottom: .5em;
    text-decoration: none;
}

/* random messages */
#random-messages {
    grid-column: 5 / 9;
    justify-self: center;
    text-align: center;
    padding-top: 5em;
}

#random-messages > * {
    font-size: 1.3em;
    color: rgb(240,248,255);
}

#random-messages a {
    color: #FCAA67;
    font-weight: 900;
    text-decoration: none;
}

/* FRONTPAGE STYLING END */


/* GAMES STYLING START */
.content h1 {
    grid-column: 3 / 9;
    font-family: Ubuntu;
    font-size: 2.7em;
    padding: 1em 0 .5em;
    grid-row: 1 / 2;
}

#games h1 {
    color: #548687;
}

.create-new {
    grid-column: 9 / 10;
    justify-self: end;
    grid-row: 1 / 2;
    align-self: flex-end;
    padding-bottom: 1em;
    color: #FCAA67;
    text-transform: uppercase;
}

.create-new a, .create-new:visited {
    color: #548687;
}


/* game genre */
.genre {
    grid-column: 3 / 11;
}

/* game lists */
.game-list {
    grid-column: 3 / 10;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5em;
}

.game:nth-child(odd) {
    grid-column: 1 / 2;
    justify-self: start;
}

.game:nth-child(even) {
    grid-column: 2 / 3;
}

.game figure {
    width: 25em;
    height: 25em;
    background: rgba(252,170,103,.5);
    position: relative;
    display: grid;
    overflow: hidden;
    border-radius: .3em;
}

.game figure:hover {
    background: rgb(252,170,103);
}

.game figure img {
    max-width: 20em;
    max-height: 15em;
    display: block;
    justify-self: center;
    align-self: center;
}

.game figcaption {
    position: absolute;
    bottom: 0;
    height: 5em;
    background: #548687;
    width: 100%;
    padding: .5em;
    display: none;
}

.game figure:hover figcaption {
    display: block;
}

.game figcaption h2 {
    font-size: 1.6em;
    font-weight: bold;
    padding-bottom: .5em;
}

.game figcaption img {
    display: inline-block;
    height: .9em;
}

.game figcaption i {
    font-size: 1em;
    color: #ffffc7;
}

/* SPECIFIC GAME */

#specific-game .text-box {
    grid-column: 3 / 10;
    display: grid;
    grid-template-columns: 20em 1fr 6em;
}

#specific-game .text-box * {
    text-align: left;
}

#specific-game h1 {
    grid-column: 1 / 3;
}

.make-review {
    grid-column: 3 / 4;
    font-size: .8em;
}

#specific-game h1 span {
    font-size: .5em;
    font-style: italic;
}

#specific-game h1 span:before {
    content: "(";
    padding-right: .5em;
}

#specific-game h1 span:after {
    content: ")";
    padding-left: .5em;
}

#specific-game p {
    margin-bottom: .2em;
}

.game-images {
    grid-column: 1 / 2;
    justify-self: center;
}

.game-images figure {
    height: 5em;
    width: 5em;
    border-radius: 50%;
    display: inline-block;
    margin: 0 1em 1em 0;
}

.game-images figure:first-child {
    width: 20em;
    height: 20em;
    border-radius: 0;
    display: grid;
    justify-items: center;
    align-items: center;
}

.game-images figure img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: white;
}

.game-images figure:first-child img {
    width: 15em;
    height: 15em;
    border-radius: 0;
    background: none;
}

.game-info {
    padding-top: 2.2em;
}

.game-info .stars p {
    font-size: 1.7em;
    font-weight: bold;
}

.game-info .stars i {
    padding: 0 .2em .2em;
    color: #ffffc7;
}

/* CREATE A GAME */

.text-box textarea {
    width: 25em;
    max-width: 25em;
    min-width: 25em;
    height: 10em;
    min-height: 10em;
    padding: .7em .5em;
    border-radius: .3em;
    overflow-x: hidden;
    font-family: 'Open Sans';
    text-align: left;
}

/* REQUEST A GAME */
.text-box {
    grid-column: 3 / 7;
    background: #FCAA67;
    padding: 2em;
    margin-top: 1em;
    border-radius: .3em;
}

.text-box * {
    color: #473335;
    text-align: center;
}

.text-box h1 {
     padding: 0 0 .5em;
 }

.text-box p {
    margin-bottom: 1em;
    line-height: 1.2em;
}

.text-box a, .text-box a:visited, .text-box a:hover, .text-box a:active {
    color: #548687;
    font-weight: bold;
}

.text-box form {
    margin: auto;
}

.text-box form input {
    display: block;
    margin: auto;
    padding: .7em .5em;
    border-radius: .3em;
    border: 1px;
    width: 25em;
    background: #fff;
    text-align: left;
}

.text-box form label {
    margin: auto;
    display: block;
    margin: 1em 0em .5em;
    font-weight: bold;
}

.text-box form label span {
    font-weight: normal;
    font-style: italic;
    font-size: .8em;
}

.text-box button {
    display: block;
    margin: auto;
    background: #548687;
    color: rgb(240,248,255);
    border-radius: .2em;
    border: 1px solid #548687;
    padding: .5em;
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-size: 1.2em;
    margin-top: 1em;
    cursor: pointer;
}

.text-box h3 {
    font-size: 1.4em;
    font-weight: bold;
    margin: 2em 0 .5em;
}

.text-box h4 {
    font-size: 1.2em;
    font-weight: bold;
}

/* REQUESTED GAMES */
#requested-games-index .text-box {
    grid-column: 3 / 10;
}

#requested-games-index h1 {
    float: left;
}

#requested-games-index h1 + p {
    float: right;
}

#requested-games-index a {
    text-decoration: none;
}

#requested-games-index i {
    color: #548687;
}

#requested-games-index .text-box * {
    text-align: left;
}

#requested-games-index table {
    width: 100%;
}

#requested-games-index tr{
    border: 1px solid #473335;
    border-radius: 10px;
}

#requested-games-index td, #requested-games-index th {
    padding: 1em;
}

#requested-games-index tr:first-child {
    border-bottom: 2px solid;
}

#requested-games-index .text-box table tr td:last-child {
    text-align: right;
}

#requested-games-index tr:nth-child(even) {
    background: rgba(240,248,255,.7)
}

#requested-games-index table i {
    font-size: 1.3em;
    color: #473335;
    padding: 0 .3em;
}

#requested-games-index i:hover {
    color: #548687;
}

/* DELETE REQUESTED GAME */
.wanted-game-name {
    color: #548687;
}

#delete-wanted-game h1, #delete-game h1 {
    padding-bottom: 0;
}

#delete-wanted-game h3, #delete-game h3 {
    padding-bottom: 1em;
}

#delete-game img {
    display: block;
    margin: 1em auto 2em;
    max-width: 20em;
}

/* USER PROFILE */
#user-profile .text-box {
    grid-column: 3 / 10;
    display: grid;
    grid-template-columns: 20em auto;
    grid-gap: 0 1em;
}

#user-profile .text-box * {
    text-align: left;
}

.edit-profile {
    float: right;
}

.user-image {
    display: grid;
    justify-items: center;
    align-content: start;
}

.user-image img {
    height: 15em;
    width: 15em;
    border-radius: 50%;
    margin-bottom: 1.5em;
}

.user-image i {
    font-size: 2.5em;
    cursor: pointer;
    padding-bottom: .2em;
}

.user-image i:hover {
    color: #548687;
}

#user-profile .user-image p {
    text-align: center;
}

.user-reviewed-game {
    display: grid;
    grid-template-columns: 10em auto 7em;
    grid-template-rows: repeat(3, auto);
    grid-gap: 0 1em;
    align-content: start;
    background: rgba(255,255,255,.3);
    padding: 1em;
    margin-bottom: 2em;
    height: 9em;
}

.user-reviewed-game:last-child {
    margin-bottom: 0;
}

.user-reviewed-game p {
    margin-bottom: 0;
}

.user-reviewed-game a {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    width: 10em;
}

.user-reviewed-game i {
    color: #ffffc7;
    padding-right: .5em;
}

.user-reviewed-game img {
    width: 100%;
    border-radius: .3em;
    max-height: 7em;
}

.user-reviewed-game .game-name {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.user-reviewed-game .game-review {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.user-reviewed-game .your-review {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.user-reviewed-game .see-review {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.user-reviewed-game .edit-review {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.back-to-list {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding: 1em;
}

.back-to-list p {
    padding-bottom: 1em;
}

.back-to-list a, .back-to-list a:visited, .back-to-list a:hover, .back-to-list a:active {
    color: #FCAA67;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.back-to-list i {
    color: #FCAA67;
    padding-right: .5em;
}

.back-to-list a:hover, .back-to-list a:hover i {
    color: #FFFFC7;
}


@media (max-width: 1500px) {
    .front_page_circles .circle-wrapper {
        width: 15em;
        height: 15em;
    }

    .circle_info {
        padding-top: 5em;
    }

    .back.face {
        padding: 4.4em 1em;
    }
}

@media (max-width: 1300px) {
    /* front page circles */
    .front_page_circles .circle-wrapper {
        width: 13em;
        height: 13em;
    }
    
    .circle_info {
        padding: 4em 1em 0;
    }

    .circle_info > h2 {
        font-size: 3.5em;
    }

    .back.face {
        font-size: 1.1em;
    }

    /* navigation circles */
    #navigation-circles {
        grid-column: 3 / 8;
        grid-row: 1 / 2;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    #navigation-circles .face {
        width: 6.7em;
        height: 6.7em;
    }

    #navigation-circles .circle_info {
        padding: 1.6em .5em;
    }

    #navigation-circles .circle-wrapper i {
        margin-bottom: .1em;
    }

    #navigation-circles .circle-wrapper h2 {
        font-size: .7em;
    }

    /* general search */

    .top-bar #general-search {
        grid-column: 9 / 13;
    }

    #general-search form {
        padding: .7em;
    }

    /* game list*/
    .game figure{
        width: 20em;
        height: 20em;
    }

    .game figure img {
        max-height: 10em;
        max-width: 15em;
    }

    /* text box */
    .text-box {
        grid-column: 3 / 8;
    }
}

@media (max-width: 1100px) {
    .front_page_circles .circle-wrapper {
        width: 12.5em;
        height: 12.5em;
    }

    #navigation-circles .face {
        width: 6em;
        height: 6em;
    }

    #navigation-circles .circle_info {
        padding: 1.3em .5em;
    }

    #navigation-circles .circle_info h2 {
        font-size: .6em;
    }

    /* game list*/
    .game figure {
        width: 20em;
        height: 20em;
    }

    .game figure img {
        max-height: 10em;
        max-width: 15em;
    }

    /* text box */
    .text-box {
        grid-column: 3 / 9;
    }
}

/* iPad landscape */
@media (max-width: 1024px) {
    /* front-page circles */
    .front_page_circles .circle-wrapper {
        width: 11em;
        height: 11em;
    }

    .circle_info {
        padding: 3.5em 1em 0;
    }

    .circle_info > h2 {
        font-size: 2.5em;
    }

    .back.face {
        font-size: 1em;
        padding: 4.4em .5em;
    }

    /* navigation circles */
    #navigation-circles .face {
        width: 5em;
        height: 5em;
    }

    #navigation-circles .circle_info {
        padding: 1.6em .5em;
    }

    #navigation-circles .circle-wrapper i {
        margin-bottom: .1em;
        font-size: 2em;
    }

    #navigation-circles .circle-wrapper h2 {
        display: none;
    }

    #random-messages {
        padding-top: 4em;
    }

    /* game list */
    .game figure {
        width: 15em;
        height: 15em;
    }

    .game figure img {
        max-height: 9em;
        max-width: 9em;
    }

    .game:hover figure > img {
        align-self: flex-start;
        padding-top: 1em;
    }

    /* back to list */
    .back-to-list {
        grid-column: 1 / 13;
        grid-row: 1 / 2;
        padding: .5em 0 0 1em;
    }

    .back-to-list p {
        display: inline-block;
        margin-right: 1em;
    }

    .back-to-list a {
        font-size: .8em;
    }

    /* delete game */
    .text-box img {
        margin: 0 auto 1em;
    }

    .text-box h3 {
        margin: 1em 0 .5em;
    }
}

@media (max-width: 920px) {

    /* front-page circles*/
    .front_page_circles .circle-wrapper {
        width: 9em;
        height: 9em;
    }

    .circle_info {
        padding: 2.5em 1em 0;
    }

    .circle_info > h2 {
        font-size: 2em;
    }

    .circle-wrapper p {
        font-size: .9em;
    }

    .back.face {
        font-size: .8em;
    }

    /* front-page search */
    #search-front input {
        width: 25em;
    }

    /* navigation circles */

    #navigation-circles .face {
        width: 4.5em;
        height: 4.5em;
    }

    #navigation-circles .circle_info {
        padding: 1.3em .5em;
    }

    /* general search */
    #general-search * {
        font-size: 1em;
    }

    #random-messages {
        padding-top: 3em;
    }

    /* games */
    .game figure:hover figcaption {
        display:none;
    }

    .game figure img {
        max-width: 13em;
        max-height: 13em;
    }

    /* text box */
    .text-box {
        grid-column: 3 / 10;
    }
}

@media (max-width: 768px) {
    /*  */
    .content h1 {
        grid-column: 2 / 12;
        grid-row: 2 / 3;
        padding: 0 0 .5em;
    }

    /* front-page circles */
    .front_page_circles {
        padding-top: 26vh;
    }

    .front_page_circles .circle-wrapper {
        width: 8em;
        height: 8em;
    }
    
    .front_page_circles .circle_info * {
        display: none;
    }

    .front_page_circles .circle-wrapper:hover {
        transform: none;
    }

    .circle-wrapper .mobile-format {
        display: block;
        background: none;
    }

    .circle-wrapper .mobile-format h2 {
        display: block;
        font-size: .8em;
    }

    .circle-wrapper .mobile-format i {
        display: block;
        font-size: 2em;
        margin-bottom: .2em;
    }

    /* front-page search */
    #search-front input {
        width: 20em;
    }

    /* navigation circles */
    .top-bar {
        padding: 1em 0 0;
    }

    .top-bar > a:first-child {
        padding-left: .2em;
        height: 3.9em;
    }

    #navigation-circles {
        grid-column: 8 / 13;
        height: 3.9em;
        margin-bottom: .5em;
    }

    #navigation-circles .face {
        width: 3.9em;
        height: 3.9em;
    }

    #navigation-circles .circle_info {
        padding: 1em .5em;
    }

    /* general search */
    .top-bar #general-search {
        grid-column: 1 / 13;
        grid-row: 2 / 3;
    }

    /* panel-bar */
    .panel-bar span{
        display: none;
    }

    .panel-bar i {
        font-size: 2em;
        color: #FCAA67;
    }

    .panel-bar ul li.right-panel-elements {
        float: none;
    }

    .panel-bar ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
    }

    .panel-bar ul li {
        display: block;
    }

    .panel-bar ul li:nth-child(4) {
        grid-column: 5 / 6;
        grid-row: 1 /2;
    }

    .panel-bar ul li:nth-child(5) {
        grid-column: 4 / 5;
        grid-row: 1 /2;
    }

    /* game list */
    .game-list {
        grid-column: 2 / 12;
    }

    /* text box */
    .text-box {
        grid-column: 3 / 11;
    }

    .text-box h1 {
        font-size: 2em;
    }

    .text-box img {
        width: 15em;
    }
}

@media (max-width: 670px) {
    /* front page circles */
    .front_page_circles {
        padding-top: 15vh;
    }

    .front_page_circles .circle-wrapper {
        width: 7em;
        height: 7em;
    }

    .circle-wrapper .mobile-format h2 {
        display: none;
    }

    /* front page search */
    #search-front input {
        width: 15em;
    }

    /* random text */
    #random-messages {
        grid-column: 4 / 10;
    }

    /* navigation circles */
    #navigation-circles {
        grid-column: 6 / 13;
    }

    #navigation-circles .face {
        width: 3.5em;
        height: 3.5em;
    }

    #navigation-circles .circle_info {
        padding: 1em .5em;
    }

    #navigation-circles .circle_info i {
        font-size: 1.6em;
    }

    /* game list */
    .game figure {
        width: 13em;
        height: 13em;
    }

    .game figure img {
        max-width: 11em;
        max-height: 11em;
    }

    /* text box */
    .text-box {
        grid-column: 2 / 12;
    }
}

@media (max-width: 570px) {
    .front_page_circles .circle-wrapper {
        width: 5em;
        height: 5em;
    }

    .circle_info {
        padding: 1.8em 1em 0;
    }

    .circle-wrapper .mobile-format i {
        font-size: 1.5em;
    }

    #random-messages {
        padding-top: 2em;
    }

    .game-list {
        grid-gap: 3em;
    }

    .game figure {
        width: 10em;
        height: 10em;
    }

    .game figure img {
        max-width: 8em;
        max-height: 8em;
    }

    /* text box */
    .text-box form input, .text-box textarea {
        width: 20em;
        max-width: 20em;
        min-width: 20em;
    }

    .text-box img {
        width: 12em;
    }
}

@media (max-width: 450px) {

    .front_page_circles {
        grid-gap: 2em;
    }

    .front_page_circles .circle-wrapper:nth-child(odd) {
        grid-column: 2 / 3;
    }

    .front_page_circles .circle-wrapper:nth-child(even) {
        grid-column: 3 / 4;
    }

    .front_page_circles .circle-wrapper {
        width: 7em;
        height: 7em;
    }

    .front_page_circles .mobile-format i {
        font-size: 3em;
    }

    /* random */
    #random-messages {
        padding-top: 2em;
    }

    #random-messages * {
        font-size: 1.1em;
    }

    /* front search */
    #search-front input {
        width: 12em;
    }

    /* navigation circles */

    #navigation-circles {
        grid-column: 4 / 13;
    }

    .top-bar > a:first-child {
        padding: 0;
        width: 3.9em;
        height: 3.9em;
    }

    /* game list */
    .game-list .game {
        grid-column: 1 / 3;
    }

    .game figure {
        width: 17em;
        height: 17em;
    }

    .game figure img {
        max-height: 15em;
        max-width: 15em;
    }

    /* text box */
    .text-box form input, .text-box textarea {
        width: 15em;
        max-width: 15em;
        min-width: 15em;
    }
}